openapi: 3.0.3
info:
  title: TaxFront API
  description: API documentation for TaxFront application
  version: 1.0.0
servers:
  - url: https://us-central1-taxfront-1e142.cloudfunctions.net
    description: Production server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    UserProfile:
      type: object
      required:
        - name
        - taxId
        - businessType
      properties:
        name:
          type: string
          description: User's full name
        taxId:
          type: string
          description: Tax identification number
        businessType:
          type: string
          description: Type of business

    TaxDocument:
      type: object
      required:
        - id
        - name
        - type
        - size
        - uploadDate
        - url
        - path
        - status
      properties:
        id:
          type: string
          description: Unique identifier for the document
        name:
          type: string
          description: Document name
        originalName:
          type: string
          description: Original file name
        type:
          type: string
          description: Document type
        size:
          type: number
          description: File size in bytes
        uploadDate:
          type: string
          format: date-time
          description: Date and time when document was uploaded
        url:
          type: string
          description: URL to access the document
        path:
          type: string
          description: Storage path of the document
        status:
          type: string
          enum: [pending, processed, error]
          description: Current processing status
        metadata:
          type: object
          properties:
            name:
              type: string
            tax_id:
              type: string
            income:
              type: number
            tax_due:
              type: number
            tax_year:
              type: string
            filing_status:
              type: string
            confidence_scores:
              type: object
              additionalProperties:
                type: number
            parser_version:
              type: string
            processing_timestamp:
              type: string
            extraction_success:
              type: boolean
        error:
          type: string
          description: Error message if processing failed

    ProcessingResult:
      type: object
      required:
        - success
        - documentId
      properties:
        success:
          type: boolean
          description: Whether the processing was successful
        documentId:
          type: string
          description: ID of the processed document
        error:
          type: string
          description: Error message if processing failed
        metadata:
          $ref: '#/components/schemas/TaxDocument/properties/metadata'

    TaxSummary:
      type: object
      properties:
        totalIncome:
          type: number
          description: Total income across all documents
        totalTaxDue:
          type: number
          description: Total tax due across all documents
        documentCount:
          type: integer
          description: Total number of processed documents
        taxYear:
          type: string
          description: Tax year for the summary

security:
  - bearerAuth: []

paths:
  /createUserProfile:
    post:
      summary: Create or update user profile
      operationId: createUserProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfile'
      responses:
        '200':
          description: Profile created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '401':
          description: Unauthorized
        '500':
          description: Internal server error

  /getTaxDocuments:
    get:
      summary: Get all tax documents for the user
      operationId: getTaxDocuments
      responses:
        '200':
          description: List of tax documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaxDocument'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error

  /getTaxSummary:
    get:
      summary: Get tax summary for the user
      operationId: getTaxSummary
      responses:
        '200':
          description: Tax summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxSummary'
        '401':
          description: Unauthorized
        '500':
          description: Internal server error

  /processDocument/{documentId}:
    post:
      summary: Process a tax document
      operationId: processDocument
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Document processing started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessingResult'
        '401':
          description: Unauthorized
        '404':
          description: Document not found
        '500':
          description: Internal server error

  /getDocumentStatus/{documentId}:
    get:
      summary: Get processing status of a document
      operationId: getDocumentStatus
      parameters:
        - name: documentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Document status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxDocument'
        '401':
          description: Unauthorized
        '404':
          description: Document not found
        '500':
          description: Internal server error
